.main {
    padding-top: 50px;
}

.label {
    cursor: default;
}

.home {
    max-width: 800px;
}

.loading {
    max-width: 800px;
    margin-top: 50px;
}

.home .jumbotron {
    max-width: 800px;
    margin-top: 20px;
    background-color: white;
}

.home.bot {
    margin-top: 0px;
    padding-left: 80px;
    padding-right: 80px;
}

.panel-heading {
    cursor: pointer;
}

.home h3 {
    margin-top: 80px;
}

label.notWeight {
    font-weight: 400;
    margin-bottom: 0;
}
