<div class="word" ng-controller="WordController as wordCtrl">
    <div ng-show="wordCtrl.isLoad" class="">

        <div ng-hide="wordCtrl.notFound">

            <div class="jumbotron">
                <div class="container">
                    <h1>Mot <span>{{ wordCtrl.word.Name }}</span></h1>
                    <p>
                        {{ wordCtrl.word.Def }}
                    </p>
                </div>
            </div>

            <div class="container">

                <!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6">.col-xs-6</div>
  <div class="col-xs-6">.col-xs-6</div>
</div>

                <div class="">
                    <h3>Catégories de mots en relation avec {{ wordCtrl.word.Name }}</h3>

                    <div class="form-group">
                        <label for="">Rechercher une catégorie</label>
                        <div class="input-group">
                            <input type="text" placeholder="Filtre sur les catégories" class="form-control" ng-model="search.name">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="wordCtrl.activeAllCats" id="chooseCat">
                                <label for="chooseCat" class="notWeight">Ouvrir toutes les catégories</label>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Dans une catégorie, trier les mots...</label>
                        <select name="" id="" class="form-control" ng-change="order()" ng-model="predicate">
                            <option value="-Content">par ordre alphabétique</option>
                            <option value="-Stars">Par pertinence</option>
                        </select>
                    </div>

                    <div id="list-types">
                        <div class="panel-group" ng-repeat="type in wordCtrl.listTypes | filter: search | orderBy: wordCtrl.getWordsFromType(type.label).length">
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-click="wordCtrl.activeCat = wordCtrl.activeCat != type.name ? type.name : ''">
                                    <h4 class="panel-title">
                                        <i class="fa" ng-class="wordCtrl.activeCat != type.name && !wordCtrl.activeAllCats ? 'fa-caret-square-o-down' : 'fa-caret-square-o-up'"></i>
                                        {{ type.name }} -
                                        <span class="label label-info">{{ wordCtrl.getWordsFromType(type.label).length }} mots</span>
                                    </h4>
                                </div>
                                <div class="panel" ng-class="{collapse: wordCtrl.activeCat != type.name && !wordCtrl.activeAllCats }">
                                    <ul class="list-group" ng-init="testLimit = 20; count = wordCtrl.nbWordsForType(type.label)">
                                        <li class="list-group-item" ng-repeat="word in wordCtrl.getWordsFromType(type.label) | orderBy:predicate:reverse | limitTo:testLimit" >
                                            <div class="row">
                                                <div class="col-xs-7">
                                                    {{ word.Content }}
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <div class="label label-warning ttip" title="Poids de {{ word.Poids }}">
                                                        <i class="fa fa-star" ng-repeat="i in range(wordCtrl.fullsStarsNumber(word.Stars)) track by $index"></i><i class="fa fa-star-half-o" ng-repeat="i in range(wordCtrl.halfStarsNumber(word.Stars)) track by $index"></i><i class="fa fa-star-o" ng-repeat="i in range(wordCtrl.emptyStarsNumber(word.Stars)) track by $index"></i>
                                                    </div>
                                                    <a href="" ng-click="loadWord(word.Content)" class="btn btn-primary btn-xs ttip" title="Aller au mot {{ word.Name }}"><i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item" ng-show="count > testLimit">
                                            <a href="" ng-click="testLimit = testLimit + 20">Charger les 20 suivants ({{ count - testLimit }} restants)</a> |
                                            <a href="" ng-click="testLimit = count">Tout charger</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div ng-show="wordCtrl.notFound">
        <div class="jumbotron">
            <div class="container">
                <h1>Mot <span>introuvable</span></h1>
                <p>
                    Le mot que vous recherchez n'existe pas dans la base de donnée.
                </p>
            </div>
        </div>
        <div class="container">
            <h3>Recherchez un autre mot</h3>
            <form class="" ng-controller="SearchController as searchCtrl">
                <div class="input-group">
                    <input type="text" placeholder="Mot" class="form-control" ng-model="searchCtrl.word">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="loadWord(searchCtrl.word)"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="wordCtrl.isLoad" class="container loading">
        <div class="jumbotron">
            <p>Chargement du mot en cours...</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
    </div>
</div>
