<div class="word" ng-controller="WordController as wordCtrl">
    <div ng-show="wordCtrl.isLoad" class="">

        <div class="jumbotron">
            <div class="container">
                <h1>Mot <span id="name">{{ wordCtrl.word.Name }}</span></h1>
                <p id="definition">
                    {{ wordCtrl.word.Def }}
                </p>
            </div>
        </div>

        <div class="container">
            <select name="" id="" class="form-control" ng-change="order()" ng-model="predicate">
                <option value="-Content">Classer par ordre alphabétique</option>
                <option value="-Stars">Classer par pertinence</option>
            </select>

            <div class="container">
                <h2>Mots associés</h2>
                <div id="list-types" ng-repeat="type in wordCtrl.listTypes">
                    <h3>
                        {{ type.name }}
                        ({{ wordCtrl.getWordsFromType(type.label).length }} mots)
                    </h3>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="word in wordCtrl.getWordsFromType(type.label) | limitTo:10 | orderBy:predicate:reverse">
                            <div class="row">
                                <div class="col-md-8">
                                    {{ word.Content }}
                                </div>
                                <div class="col-md-4 text-right">
                                    <div class="label label-warning ttip" title="Poids de {{ word.Poids }}">
                                        <i class="fa fa-star" ng-repeat="i in range(wordCtrl.fullsStarsNumber(word.Stars)) track by $index"></i><i class="fa fa-star-half-o" ng-repeat="i in range(wordCtrl.halfStarsNumber(word.Stars)) track by $index"></i><i class="fa fa-star-o" ng-repeat="i in range(wordCtrl.emptyStarsNumber(word.Stars)) track by $index"></i>
                                    </div>
                                    <a href="" class="btn btn-primary btn-xs"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div ng-hide="wordCtrl.isLoad" class="container">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
            Chargement en cours...
        </div>

    </div>
</div>
